pydantic~=1.10.6
aiohttp==3.12.14
langchain==0.2.5
requests==2.32.4
typer==0.7.0
PyYAML~=6.0
setuptools~=80.9.0
annoy==1.17.3
sentence-transformers==2.2.2
fastapi==0.96.0
starlette==0.47.2
uvicorn==0.22.0
httpx==0.23.3
simpleeval==0.9.13
typing-extensions==4.5.0
Jinja2==3.1.6
