accelerate
pandas
# faiss-gpu
# faiss-cpu-1.7.4
einops
gpt4pandas
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
